<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<div id="overlayContainer">
    <div id="overlayBack"></div>
    <div id="overlayFrame">
        <div id="informationScreen">
            <div id="buttonPanel">
                <button id="closeButton" onclick="hideMe()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </button>
            </div>
            <div id="blogMunipilationPanel">
                <button type="" id="editButton" onclick="editBlog()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                </button>
                <button type="" id="deleteButton" onclick="deleteReview(bookId)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>
             </div>
        <h1 id="informationHeader">Blog</h1>
        <form id="informationForm" >
            <div id="infomationTitleInputPanel">
                <label for="infomationTitleInput">Title</label>
                <input required type="text" name="title" id="informationTitleInput">
            </div>
            <div id="informatioNotesPanel">
                <label for="informationNotesInput">Notes</label>
                <textarea name="notes" id="informationNotesInput"></textarea>
            </div>
            <div id="informationReviewPanel">
                <label for="informationReviewInput">Review</label>
                <textarea name="review" id="informationReviewInput"></textarea>
            </div>
            <div id="informationRatingsPanel">
                <label for="informationRatingsInput">Rating</label>
                <select name="rating" id="informationRatingsInput">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div id="informationDatePanel">
                <label for="informationDateInput">Date you started reading the book</label>
                <input required type="date" name="start" id="informationDateInput">
            </div>
            <button id="updateButton" class="btn btn-success informationButton" onclick="validateInput(bookId)">update</button>
            <button id="submitButton" class="btn btn-success informationButton" onclick="validateInput()">Submit</button>
            <button type="button" class="btn btn-primary informationButton">cancel</button>
        </form>
    </div>
    </div>
</div>

    <h1>Book Record</h1>
    <hr>
    <div class="top-panel">
        <button id="createButton"  type="button" class="btn btn-success addButton" onclick="showBlankOverlay()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </button>
        <div class="search-panel">
            <form action="/search" method="GET">
                <input type="text" id="searchInput" name="title">
                <button type="submit" value="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
                <label id="sortByLabel" for="sortBy">Sort by:</label>
                <select id="sortBy" name="sort">
                    <option value="title">title</option>
                    <option value="date">date</option>
                </select>
                <button type="submit" value="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="book-list-container">
        <!-- trace through each book  -->
         <% bookId=-1; if(locals.books){ books.forEach(book => {%>
            <div class="book-container" <% if(true) console.log(book.book_id);{%> onclick="loadBook(<%= book.book_id%>)<%}%>">
            <div class="title-review-container">
                <h3 class="book-title"><%=book.title%></h3>
                <p class="book-snippet"><%if(book.review){%><%=book.review%><%}else{%>Not reviewed yet<%}%></p>
            </div>
            <%if(Number(book.cover)>0){%>
                <img class="book-cover" <% if(true){%>src="https://covers.openlibrary.org/b/id/<%=book.cover%>-M.jpg" <%}%> width="200px" height="200px">
            <%}else{%>
                <p>Unable to load image. Make sure the book title is correct.</p>
            <%}%>
            <button type="button" class="deleteButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
            </button>
         </div>
        <%});}%>
    </div>
    <script src="client.js"></script>
</body>
</html>