th{
    text-align: center;
    align-content: center;
}
td{
    align-content: center;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
}

.search-panel{
    display: contents;
}

.top-panel{
    display: inline;
}

.addButton{
    float:right;
}

.deleteButton{
    border: none;
    background-color: transparent;
    color:red;
}

.book-list-container{
    border: 1pt solid lightgray;
    margin-top: 10px;
}
.title-review-container{
    display: inline-block;
    width: 20rem;
}

.book-container{
    display: flex;
    align-items: flex-start;
    border: 3pt solid green;
    border-radius: 5%;
    min-width: 40vw;
    max-width: 40vw;
    padding-left: 5pt;
}

#informationScreen{
    text-align: center;
}

#informationHeader{
    margin-bottom: 4rem;
    border-bottom: 1pt solid green;
}

div > label{
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

div > input[type=text]{
    min-width: 30rem;
    margin-bottom: 2rem;
}

div > textarea{
    min-width: 30rem;
    min-height: 20rem;
    margin-bottom: 2rem;
}

div > select{
    min-width: 10rem;
    margin-bottom: 2rem;
}

div > input[type=Date]{
    margin-bottom: 2rem;
}

.informationButton{
    margin: 1rem;
}

#overlayContainer{
    position:absolute;
    x: 0;
    y:0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    display: flex;
    display: none;
}

#overlayBack{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

#expandedImage{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#overlayFrame{
    width: 80%;
    height: 80%;
    opacity: 1;
    align-self: center;
    z-index: 4;
    position:fixed;
    overflow-y: scroll;
    border-radius: 5%;
    background-color: aliceblue;
}

#closeButton{
    border-radius: 15%;
    border-color: antiquewhite;
    margin: 1rem;
}

#buttonPanel{
    justify-self: end;
}

#deleteButton{
    border-radius: 15%;
    border-color: antiquewhite;
    color:red;
}

#editButton{
    border-radius: 15%;
    border-color: antiquewhite;
    color: green;

}

#updateButton{
    display: none;
}